.wrapper {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 200px;
  display: flex;
}

.scrape-button {
  color: red;
  font-size: 50px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: black;
  margin-top: 0px;
}

.titleWrapper {
  text-align: center;
}
